:root {
  --nooch: 'Roboto Mono', monospace;
  --fade-blk: #333333;
  --fade-wht: #EFEFEF;
  --violet: #92A7FF;
  --orange: #FF825C;
}

body {
  background: var(--fade-wht);
  margin: 0;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    monospace;
  letter-spacing: -2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
